<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <button><a href="{% url 'home' %}">Back to home</a></button>
    <button><a href="{% url 'students:add' %}">Create Student</a></button>
    {% for student in students %}
        <a href="{% url 'students:detail' pk=student.pk %}"><h3>{{ student.first_name }} {{ student.last_name }}</h3></a>
    {% empty %}
        <h3>No student</h3>
    {% endfor %}
</body>
</html>